{% extends 'layoutBack.html.twig' %}
{% block content %}
    <center><H1>Ajout de Sous Catégorie</H1></center>
    </br></br>
    <div class="container">
        {{ form(f) }}

        {{form_end(f)}}
    </div>
{% endblock %}